<!DOCTYPE html>
<html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header>
            <h1>iFrames</h1>
        </header>
        <aside>
            <h1>iFrames</h1>
            <p>Uso de iFrames dentro de nuestro sitio web</p>
        </aside>
        <section>
            <h2>iFrames</h2>
            <article>
                <h3>sitio Web Interno</h3>
                <iframe src="http://ufidelitas.ac.cr" height="400" width="1200">
                </iframe>
            </article>
            <article>
                <h3>YouTube</h3>
                <iframe width="1236" height="695"
                        src="https://www.youtube.com/embed/yScNIsLTLYA" title="EPOCOYo en ESPAÑOL - Juega y Bucea en la Piscina [121 min] CARICATUR

                        </article>
                        <article>
                        <h3>Ubicanos</h3>
                        <iframe src="https://www.google.com/maps/embed?pb=|1m18|1m12!1m3|1d15717.13811555178312d-84. 0061650999999913d9. 9933394|2m3|1f012f01
        </article>
    </section>
    <footer>
        Todos los Derechos Reservados TechShop 2025 &COPY;
    </footer>
</body>